<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" viewport-fit="cover">
    <style>
        @media (max-width:450px) {

            table,
            tr,
            td {
                width: 100%;
            }

        }
    </style>
</head>

<body>
    <table width="1200" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td width="1200">
                <table width="1200" height="400" border="0" align="center" cellpadding="0" cellspacing="0"
                    id="Table_01">

                    <tr>

                        <td width="1200" align="center" valign="top">
                            <table width="1100" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>
                                        <font size="2" face="'Roboto', sans-serif">
                                            <div
                                                style="background-color: #def5ff;width:100%;display: table; padding:15px;">
                                                <div style="float: left;width:30%">
                                                    <h1 style="margin:0px;"> 15 July, 2019 </h1>
                                                    <p>London Stansted Airport</p>

                                                </div>
                                                <div style="float: left; width:55%; text-align: center;">
                                                    <p
                                                        style="display:inline;background-color: #888888;padding: 5px 10px;border-radius: 50px;color: #fff;font-weight: bold;">
                                                        Return booking details</p>
                                                </div>
                                                <div style="float: left; width:15%;text-align:right;">
                                                    <p style="color:#1097d6;margin:0;font-size:20px;font-weight:bold;">
                                                        £46
                                                    </p>
                                                </div>
                                            </div>
                                            <div style="width:100%;display:table;padding:15px 15px 0;">
                                                <h3 style="color:#1097d6;margin:0;">Flight Details</h3>
                                            </div>
                                            <div style="width:100%;display:table;padding:15px;">
                                                <div style="width:50%;float:left;">
                                                    <p>London Luton</p>
                                                </div>
                                                <div style="width:50%;float:left; text-align:right;">
                                                    <p>Bucharest Henri Coand? Int'l</p>
                                                </div>
                                            </div>
                                            <div style="border-top:1px dashed #d5d5d5;width:100%; ">
                                                <div style="width:100%;padding:15px 15px 0;">
                                                    <h3 style="color:#1097d6;margin:0;">Trip Details</h3>
                                                </div>
                                                <div style="width:100%;padding:15px;">
                                                    <div style="width:25%;float: left;">
                                                        <p style="color:#888;">Pickup Location</p>
                                                        <p>John Radcliffe Hospital, Headley Way, Headington, Oxford, UK
                                                        </p>
                                                    </div>
                                                    <div style="width:22%;float: left;margin-left:3%;">
                                                        <p style="color:#888;">Destination Location</p>
                                                        <p>London Luton Airport</p>
                                                    </div>
                                                    <div style="width:22%;float: left;margin-left:3%;">
                                                        <p style="color:#888;">Pickup Time</p>
                                                        <p>11:25</p>
                                                    </div>
                                                    <div style="width:22%;float: left;margin-left:3%;">
                                                        <p style="color:#888;">Arrival Time</p>
                                                        <p>15:35</p>
                                                    </div>
                                                </div>

                                                <div style="width:100%;float: left;padding:15px;">
                                                    <div style="width:33.33%;float: left;">
                                                        <p style="color:#888;">Via 1</p>
                                                        <p>Kew Gardens, Station Approach, London, UK</p>
                                                    </div>
                                                    <div style="width:33.33%;float: left;">
                                                        <p style="color:#888;">Via 2</p>
                                                        <p>The 78 Kelvinhaugh Street, Glasgow, UK</p>
                                                    </div>
                                                    <div style="width:33.33%;float: left;">
                                                        <p style="color:#888;">Via 3</p>
                                                        <p>Ullswater, Penrith, UK</p>
                                                    </div>

                                                </div>
                                                <div style="width:100%;padding:15px 15px 0; float: left;">
                                                    <p style="color:#1097d6;margin:0;">Other Details</p>
                                                </div>
                                                <div style="width:100%; float: left;padding:15px;">
                                                    <div style="width:25%;float: left;">
                                                        <p style="color:#888;">Number of Passengers</p>
                                                        <p>3</p>
                                                    </div>
                                                    <div style="width:22%;float: left;margin-left:3%;">
                                                        <p style="color:#888;">Vehicle Type</p>
                                                        <p>Standard 8 Seater</p>
                                                    </div>
                                                    <div style="width:22%;float: left;margin-left:3%;">
                                                        <p style="color:#888;">Number of Large Cases</p>
                                                        <p>6</p>
                                                    </div>
                                                    <div style="width:22%;float: left;margin-left:3%;">
                                                        <p style="color:#888;">Number of Cabin Cases</p>
                                                        <p>1</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="border-top:1px dashed #d5d5d5;width:100%; float: left;">
                                                <div style="width:60%;float: left;">
                                                </div>
                                                <div style="width:40%;float:right;text-align:right;color:#888;">
                                                    <p>Booking Date:<span style="color:#000;">17 June, 2019</span></p>
                                                    <p>Booking Time :<span style="color:#000;">14:39</span></p>
                                                    <p>Booking ID<span style="color:#000;">6620402A</span></p>
                                                </div>
                                            </div>
                                            <!-- <h1 style="width:100%;float:left;color: #505050; display: block; font-family: Arial; font-size: 28px; font-weight: bold; line-height: 100%; margin-top: 0; margin-right: 0; margin-bottom: 10px; margin-left: 0; text-align: left;"
                                            class="h1">
                                            <div style="text-align:center; margin:25px 0;"><img
                                                    src="https://www.sure2sleep.com/wp-content/uploads/2018/11/Sure2sleep-logo.png"
                                                    alt="Sure2sleep"></div>
                                        </h1>
                                        <p style="margin-bottom: 20px; font-size:14px; text-align:justify;">

                                            Hi Admin,
                                        </p>
                                        <p style="margin-bottom: 20px; font-size:14px; text-align:justify;">
                                            Someone wants to get in touch with you.Please find below the details:
                                        </p>
                                        <p style="margin-bottom: 20px; font-size:14px; text-align:justify;">
                                            Inquiry: [radio-322]<br />
                                            First Name: [your-name] <br />
                                            Last Name: [your-lname] <br />
                                            Email: [your-email] <br />
                                            Message: [your-message]
                                        </p>


                                        <hr style="margin-top:30px;
                                        border: 0;
                                        height: 1px;
                                        background: #333;
                                        background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
                                        background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
                                        background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
                                        background-image: -o-linear-gradient(left, #ccc, #333, #ccc);">
                                        <br> Kind regards,
                                        <br>
                                        <br> Sure2sleep
                                        <br>
                                        <p>
                                            <a href="https://www.sure2sleep.com/"
                                                style="text-decoration:none;">sure2sleep.com</a>
                                        </p> -->
                                        </font>
                                    </td>
                                </tr>
                            </table>




                            <table width="1100" border="0" cellspacing="0" cellpadding="0" style="margin-top:60px;">
                                <tr>
                                    <td>
                                        <font size="2" face="'Roboto', sans-serif">
                                            <div
                                                style="background-color: #def5ff;width:100%;display: table; padding:15px;">
                                                <div style="float: left;width:50%">
                                                    <h1 style="margin:0px;"> 15 July, 2019 </h1>
                                                    <p>London Stansted Airport</p>

                                                </div>
                                                <!-- <div style="float: left; width:55%; text-align: center;">
                                                    <p
                                                        style="display:inline;background-color: #888888;padding: 5px 10px;border-radius: 50px;color: #fff;font-weight: bold;">
                                                        Return booking details</p>
                                                </div> -->
                                                <div style="float: left; width:50%;text-align:right;">
                                                    <p style="color:#1097d6;margin:0;font-size:20px;font-weight:bold;">
                                                        £46
                                                    </p>
                                                </div>
                                            </div>
                                            <div style="width:100%;display:table;padding:15px 15px 0;">
                                                <h3 style="color:#1097d6;margin:0;">Flight Details</h3>
                                            </div>
                                            <div style="width:100%;display:table;padding:15px;">
                                                <div style="width:50%;float:left;">
                                                    <p>British Airways - BA777</p>
                                                    <p>Stockholm-Arlanda</p>
                                                </div>
                                                <div style="width:50%;float:left; text-align:right;">
                                                    <p>London Heathrow</p>
                                                </div>
                                            </div>
                                            <div style="border-top:1px dashed #d5d5d5;width:100%; ">
                                                <div style="width:100%;padding:15px 15px 0;">
                                                    <h3 style="color:#1097d6;margin:0;">Trip Details</h3>
                                                </div>
                                                <div style="width:100%;padding:15px;">
                                                    <div style="width:25%;float: left;">
                                                        <p style="color:#888;">Pickup Location</p>
                                                        <p>London Heathrow Airport
                                                        </p>
                                                    </div>
                                                    <div style="width:22%;float: left;margin-left:3%;">
                                                        <p style="color:#888;">Destination Location</p>
                                                        <p>Kings Cross, London, UK</p>
                                                    </div>
                                                    <div style="width:22%;float: left;margin-left:3%;">
                                                        <p style="color:#888;">Pickup Time</p>
                                                        <p>21:40</p>
                                                    </div>
                                                    <div style="width:22%;float: left;margin-left:3%;">
                                                        <!-- <p style="color:#888;">Arrival Time</p>
                                                        <p>15:35</p> -->
                                                    </div>
                                                </div>

                                                <div style="width:100%;float: left;padding:15px;">
                                                    <div style="width:33.33%;float: left;">
                                                        <p style="color:#888;">Via 1</p>
                                                        <p>King's Cross, Euston Road, London, UK</p>
                                                    </div>
                                                    <div style="width:33.33%;float: left;">
                                                        <!-- <p style="color:#888;">Via 2</p>
                                                        <p>The 78 Kelvinhaugh Street, Glasgow, UK</p> -->
                                                    </div>
                                                    <div style="width:33.33%;float: left;">
                                                        <!-- <p style="color:#888;">Via 3</p>
                                                        <p>Ullswater, Penrith, UK</p> -->
                                                    </div>

                                                </div>
                                                <div style="width:100%;padding:15px 15px 0; float: left;">
                                                    <p style="color:#1097d6;margin:0;">Other Details</p>
                                                </div>
                                                <div style="width:100%; float: left;padding:15px;">
                                                    <div style="width:25%;float: left;">
                                                        <p style="color:#888;">Number of Passengers</p>
                                                        <p>3</p>
                                                    </div>
                                                    <div style="width:22%;float: left;margin-left:3%;">
                                                        <p style="color:#888;">Vehicle Type</p>
                                                        <p>Standard 8 Seater</p>
                                                    </div>
                                                    <div style="width:22%;float: left;margin-left:3%;">
                                                        <p style="color:#888;">Number of Large Cases</p>
                                                        <p>1</p>
                                                    </div>
                                                    <div style="width:22%;float: left;margin-left:3%;">
                                                        <p style="color:#888;">Number of Cabin Cases</p>
                                                        <p>14</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div style="border-top:1px dashed #d5d5d5;width:100%; float: left;">
                                                <div style="width:100%;padding:15px 15px 0;">
                                                    <h3 style="color:#1097d6;margin:0;">Contact Informations</h3>
                                                </div>
                                                <div style="width:100%;float:left;padding:15px;">
                                                    <div style="width:100%;float: left;padding:15px;">
                                                        <div style="width:33.33%;float: left;">
                                                            <!-- <p style="color:#888;">Via 1</p> -->
                                                            <p style="color:#888;">pomy banerjee</p>
                                                        </div>
                                                        <div style="width:30%;float: left;word-break: break-all;">
                                                            <!-- <p style="color:#888;">Via 2</p> -->
                                                            <p style="color:#888;">bitpasteltester@gmail.com</p>
                                                        </div>
                                                        <div style="width:30%;float: left;margin-left:3%;word-break: break-all;">
                                                            <!-- <p style="color:#888;">Via 3</p> -->
                                                            <p style="color:#888;">+23 44999999999</p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                            <div style="border-top:1px dashed #d5d5d5;width:100%; float: left;">
                                                <div style="width:100%;padding:15px 15px 0;">
                                                    <h3 style="color:#1097d6;margin:0;">Payment Details</h3>
                                                </div>
                                                <div style="width:57%;float: left;padding:15px;">
                                                    <div style="width:20%;float:left;">
                                                        <p style="color:#888;">Outbound Price</p>
                                                        <p>£1454.40</p>
                                                        <p style="color:#888;">Inbound Price</p>
                                                        <p>£109.26</p>
                                                    </div>
                                                    <div style="width:10%;float:left;">
                                                        <p>+</p>
                                                    </div>
                                                    <div style="width:20%;float:left;">
                                                        <p style="color:#888;">Outbound Tip</p>
                                                        <p>£12</p>
                                                    </div>
                                                </div>
                                                <div style="width:40%;float:right;text-align:right;color:#888;">
                                                    <p style="color:#888;">Booking Date:<span style="color:#000;">17
                                                            June, 2019</span></p>
                                                    <p style="color:#888;">Booking Time :<span
                                                            style="color:#000;">14:45</span></p>
                                                    <p style="color:#888;">Booking ID<span
                                                            style="color:#000;">6620403A</span></p>
                                                    <p style="color:#888;">Transaction ID : <span
                                                            style="color:#000;">457835977747066880</span></p>
                                                </div>
                                                <div style="width:100%;float:left;text-align: left;padding:15px;">
                                                    <h2 style="color: #1097d6; font-weight:800;">£1575.66</h2>
                                                </div>
                                                <div style="width:100%;float:left;text-align: right;padding:15px;">
                                                    <a href="JavaScript:void(0);"
                                                        data-target="http://www.bitpastel.org/skybound-main/my_booking/cancel_trips/6620402A/6620403A"
                                                        rel="6620403A" style="    border-radius: 18px !important;
                                                        border: 2px solid #fa9b13;
                                                        color: #fa9b13;    padding: 5px 20px;
    text-decoration: none;">Cancel
                                                        Booking</a>
                                                </div>
                                            </div>
                                            <!-- <h1 style="width:100%;float:left;color: #505050; display: block; font-family: Arial; font-size: 28px; font-weight: bold; line-height: 100%; margin-top: 0; margin-right: 0; margin-bottom: 10px; margin-left: 0; text-align: left;"
                                                class="h1">
                                                <div style="text-align:center; margin:25px 0;"><img
                                                        src="https://www.sure2sleep.com/wp-content/uploads/2018/11/Sure2sleep-logo.png"
                                                        alt="Sure2sleep"></div>
                                            </h1>
                                            <p style="margin-bottom: 20px; font-size:14px; text-align:justify;">
    
                                                Hi Admin,
                                            </p>
                                            <p style="margin-bottom: 20px; font-size:14px; text-align:justify;">
                                                Someone wants to get in touch with you.Please find below the details:
                                            </p>
                                            <p style="margin-bottom: 20px; font-size:14px; text-align:justify;">
                                                Inquiry: [radio-322]<br />
                                                First Name: [your-name] <br />
                                                Last Name: [your-lname] <br />
                                                Email: [your-email] <br />
                                                Message: [your-message]
                                            </p>
    
    
                                            <hr style="margin-top:30px;
                                            border: 0;
                                            height: 1px;
                                            background: #333;
                                            background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
                                            background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
                                            background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
                                            background-image: -o-linear-gradient(left, #ccc, #333, #ccc);">
                                            <br> Kind regards,
                                            <br>
                                            <br> Sure2sleep
                                            <br>
                                            <p>
                                                <a href="https://www.sure2sleep.com/"
                                                    style="text-decoration:none;">sure2sleep.com</a>
                                            </p> -->
                                        </font>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    <tr>

                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>